@model List<Equipo>
@{
    ViewData["Title"] = "InsertJugador";
}

<h1>InsertJugador</h1>

<h4>Jugador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertJugador" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              
                <input name="IdJugador" type="hidden" value="0" class="form-control" />
               
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input name="Nombre" type="text" class="form-control" />
              
            </div>
            <div class="form-group">
                <label class="control-label">Imagen</label>
                <input name="Imagen" type="file" class="form-control" />
               
            </div>
            <div class="form-group">
                <label class="control-label">Posicion</label>
                <input name="Posicion" class="form-control" />
            
            </div>
            <div class="form-group">

                <select name="IdEquipo">
                    @foreach(Equipo eq in Model)
            {
                        <option value="@eq.IdEquipo">@eq.Nombre</option>
            }
            
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
